# Guided Project 02: Explore U.S. Births

## Table of Contents

* [Core Content](#core-content)
* [Next Step](#next-steps)
* [What We Did So far?](#what-we-did-so-far?)

## Core Content <a class="anchor" id="core-content"></a>

In [2]:
f = open("US_births_1994-2003_CDC_NCHS.csv", "r")
text = f.read()
data = text.split('\n')
data[:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [3]:
print(data[:10])

['year,month,date_of_month,day_of_week,births', '1994,1,1,6,8096', '1994,1,2,7,7772', '1994,1,3,1,10142', '1994,1,4,2,11248', '1994,1,5,3,11053', '1994,1,6,4,11406', '1994,1,7,5,11251', '1994,1,8,6,8653', '1994,1,9,7,7910']

In [4]:
def read_csv(csv_file):
    f = open(csv_file)
    text = f.read()
    # split on newline character + remove header
    string_list = text.split('\n')[1:]
    final_list = []
    
    # convert values of each row into int
    # put each row in int_fields list
    # add int_fields list to final_list
    for row in string_list:
        int_fields = []
        string_fields = row.split(',')
        for value in string_fields:
            int_fields.append(int(value))
        final_list.append(int_fields)
    
    return final_list

In [5]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")
cdc_list[:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [6]:
def month_births(list_of_lists):
    births_per_month = dict()
    
    for row in list_of_lists:
        month = row[1]
        births = row[4]
        
        if month in births_per_month:
            births_per_month[month] += births
        else:
            births_per_month[month] = births
    
    return births_per_month

In [7]:
cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [8]:
def dow_births(list_of_lists):
    births_per_day_of_week = dict()
    
    for row in list_of_lists:
        day_of_week = row[3]
        births = row[4]
        
        if day_of_week in births_per_day_of_week:
            births_per_day_of_week[day_of_week] += births
        else:
            births_per_day_of_week[day_of_week] = births
    
    return births_per_day_of_week

In [9]:
cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [14]:
def calc_counts(data, column):
    counts = dict()
    
    for row in data:
        duration = row[column]
        births = row[4]
        
        if duration in counts:
            counts[duration] += births
        else:
            counts[duration] = births
    
    return counts

In [15]:
cdc_year_births = calc_counts(cdc_list, 0)
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [16]:
cdc_month_births = calc_counts(cdc_list, 1)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [18]:
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [19]:
cdc_dow_births = calc_counts(cdc_list, 3)
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

## Next Steps <a class="anchor" id="next-steps"></a>
That's it for the guided steps. Here are some suggestions for next steps:

Write a function that can calculate the min and max values for any dictionary that's passed in.
Write a function that extracts the same values across years and calculates the differences between consecutive values to show if number of births is increasing or decreasing.
For example, how did the number of births on Saturday change each year between 1994 and 2003?
Find a way to combine the CDC data with the SSA data, which you can find here. Specifically, brainstorm ways to deal with the overlapping time periods in the datasets.

## What did we do so far? <a class="anchor" id="what-we-did-so-far?"></a>
The raw data we are working with for this project is the birth dates in the United States data. We did the following:
1. Wrote a function to read in the csv data 
    - Removed the header and split on new line character, '\n'
    - Converted the data into a list of lists and converted the values into integers
    - Returned the list of lists
2. Created a function to calculate the births per month
    - Create dictionary, births_per_month
    - Calculate the births per month (everything is already in integer data type)
3. Create a function to calculate births per day of the week
    - Create dictionary, births_per_day_of_week
    - Calculate the births per day of the week (everything is already in integer data type)
4. Recognize how the code between the function is very similar. Create new general function that takes data and desired column called calc_counts
    - Create dictioary
    - Count up the number of births per duration specific by the column number (0 -> year, 1 -> month...etc.)
5. Using new general function calculate the following:
    - births per year
    - births per month
    - births per day of the month
    - births per day of the week
6. So we went from writing a function for each calculation to using a general one, which we can use for all of them