# Storing Storm Data

Recently, the _International Hurricane Watchgroup_ (IHW) has been asked to update their analysis tools. Because of the increase in public awareness of hurricanes, they are required to be more diligient with the analysis of historical hurricane data they share across the organization. They have asked us to help work with their team to productionize their services.

Accepting the job, their team tells us that they have been having trouble sharing data across the teams and keeping it consistent. From what they've told us, it seems that their method of sharing the data with their data anaylsts has been to save a CSV file on their local servers and have every data analyst pull the data down. Then, each analyst uses a local SQLite engine to store the CSV, run their queries, and send their results around.

From what they have toldus, we think that this is an inefficient way of sharing data. To understand what we will be working on, they have sent us a CSV file. Their CSV file contains the following fields:

- `fid` - ID for the row
- `year` - Recorded year
- `month` - Recorded month
- `day` - Recorded date
- `ad_time` - Recorded time in UTC
- `btid` - Hurricane ID
- `name` - Name of the hurricane
- `lat` - Latitude of the recorded location
- `long` - Longitude of the recorded location
- `wind_kts` - Wind speed in knots per second
- `pressure` - Atmospheric pressure of the hurricane
- `cat` - Hurricane category
- `basin` - The basin the hurricane is located
- `shape_leng` - Hurricane shape length

We need to create a database that will accomplish the following requirements:

- Database for the IHW to store their tables.
- Table that contains the fields detailed in the CSV file
- User that can update, read, and insert into a table of the data.
- Insert the data into the table.


[File Download Link](https://dq-content.s3.amazonaws.com/251/storm_data.csv)

## Downloading CSV file

In [1]:
!ls

project01_storing_storm_data.ipynb storm_data.csv

In [2]:
# import libraries
import psycopg2
import pandas as pd

## Exploring the Dataset

In [3]:
df = pd.read_csv('storm_data.csv')

In [4]:
df.head()

,FID,YEAR,MONTH,DAY,AD_TIME,BTID,NAME,LAT,LONG,WIND_KTS,PRESSURE,CAT,BASIN,Shape_Leng
0,2001,1957,8,8,1800Z,63,NOTNAMED,22.5,-140.0,50,0,TS,Eastern Pacific,1.140175
1,2002,1961,10,3,1200Z,116,PAULINE,22.1,-140.2,45,0,TS,Eastern Pacific,1.166190
2,2003,1962,8,29,0600Z,124,C,18.0,-140.0,45,0,TS,Eastern Pacific,2.102380
3,2004,1967,7,14,0600Z,168,DENISE,16.6,-139.5,45,0,TS,Eastern Pacific,2.121320
4,2005,1972,8,16,1200Z,251,DIANA,18.5,-139.8,70,0,H1,Eastern Pacific,1.702939

## Create the Table

## Create the User

## Insert the Data

## Additional Steps